* {
	padding: 0px;
	margin: 0px;
}

#app {
	box-sizing: border-box;
	/* background-color: #3C3C3C; */
}
.road {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow: scroll;
	font-size: 10px;
	/* background-color: rgba(255, 255, 255, 0.8); */
	/* width: 150px; */
}

.item {
	width: 40px;
	box-sizing: border-box;
	line-height: 30px;
	height: 30px;
	text-align: center;
	font-weight: 200;
	background-color: #444444;
	padding: 0.5px;
}


.contentWrapper {
	color: white;
}

.item .b div{
	height: 50%;
	line-height: 50%;
}

.item .b .win {
	color: white;
}

.pv {
	font-size: 12px;
	font-weight: bold;
    margin-bottom: 2px;
}
.pv span {
    background-color: rgba(0,0, 0, 0.5);
    display: inline-block;
    color: white;
    padding: 0px 3px;
    margin-right: 1px;
    box-sizing: border-box;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
}
